@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {  /* 전체 스타일링 */
    margin: 0; /* 마진 설정 */
    padding: 0; /* 패딩 설정 */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index:100;
}

body { /* Body 스타일링 */
    font-family: Arial, sans-serif; /* 웹페이지 폰트 결정 Arial 폰트가 없으면 sans-serif 폰트 사용 */
    background-color: #ffffff; /* 페이지 배경색 설정 */
}

header { /* Header 스타일링 */
    display: block;
    width: 100%;
    height: 80px;
    position: relative;
}

#header .logo {

}

