@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-color : #036;
    --sub-color : #0bb;
    --text-black : #111;
    --text-grey : #666;
}

* {margin: 0; padding: 0; list-style: none;
    box-sizing: border-box; text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;}

.sidebar {
    width: 34.5rem;
    position:fixed;
    left: 0; top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 10ms;
}

.sidebar-brand {
    height: 9rem;
    padding-left: 1rem 0 1rem 2rem;
    color: #fff;
}

.sidebar-brand h1 {
    margin : 2rem 3rem;
}

.sidebar-brand h1 span a {
    padding-top: 10rem;
    position: relative;
    top: 0.6rem;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 2rem;
    font-size: 2.4rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    padding: 1rem 2rem 1rem 0;
}

.sidebar-menu a {
    display: block;
    color: #fff;
}

.sidebar-menu a.active {
    background: #fff;
    padding : 1.5rem 0;
    color: var(--main-color);
    border-radius: 3rem 0 0 3rem;
}

.sidebar-menu a span:first-child {
    padding-left: 2rem;
    padding-right: 2.4rem;
    font-size: 2.4rem;
    line-height: 3rem;
    position: relative;
    top: 0.2rem;
}

.sidebar-menu a span:last-child {
    font-size: 1.6rem;
    font-weight: 400;
}

.sidebar-menu a.active span:first-child {
    padding-right: 2rem;
    font-size: 3rem;
    position: relative;
    top: 0.2rem;
}

.sidebar-menu a.active span:last-child{
    font-size: 1.8rem;
    font-weight: 700;
}

#nav-toggle:checked + .sidebar {
    width: 8rem;
    margin-left: -1.5rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: -10rem;
}

#nav-toggle:checked + .sidebar li a span{
    margin-left: -0.5rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 6.5rem;
}

#nav-toggle:checked ~ .main-content .header {
    width: calc(100% - 6.5rem);
    left: 6.5rem;
}

.main-content {
    transition: margin-left 100ms;
    margin-left: 34.5rem;
}

.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    position:fixed;
    left: 34.5rem;
    width: calc(100% - 34.5rem);
    top: 0;
    z-index: 100;
    transition: width 10ms;
}

#nav-toggle {
    display: none;
}

.header span {
    font-size: 2.8rem;
    margin-left: 1rem;
    padding: 2rem 1rem;
}

.header h3 {
    font-size: 2.4rem;
}

.user-wrapper {
    position: absolute;
    right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-timeout {
    border-right: solid 1px #eee;
    height: 100%;
    position: absolute;
    top: 0rem;
    right: 24rem;
    padding-right: 2rem;
    text-align: center;
}

.header-timeout p {
    margin: 1.5rem 0 0.2rem 0;
    font-size: 1.3rem;
    color: var(--text-grey);
}

.header-timeout button {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.5rem 2rem;
    outline: none;
    color: #fff;
    background: var(--main-color);
    border: none;
    border-radius: 50rem;
    cursor: pointer;
}

.header-timeout button i {
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

.header-timeout button:hover,
.header-timeout button:focus {
    opacity: 0.6;
}

.user-wrapper {
    height: 100%;
}

.user-wrapper i {
    font-size: 6rem;
    color: #bbb;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.user-wrapper i:hover {
    color: var(--sub-color);
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    margin-top: 0.2rem;
    font-size: 1.2rem;
}

.user-wrapper h4 {
    font-size: 1.6rem;
}

.user-logout {
    background: var(--main-color);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 8rem;
    padding-right: 1rem;
    text-align: center;
}

.user-logout span {
    color: #fff;
    font-size: 4rem;
}

.user-logout:hover,
.user-logout:focus {
    opacity: 0.8;
}